@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

/* body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
} */
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-optical-sizing: auto;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-arrow {
  border-radius: 50%; /* Make it circular */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 10px; /* Positioning for the previous arrow */
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-next-arrow {
  right: 10px; /* Positioning for the next arrow */
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.playBtnContainer {
  position: relative;
}



.playBtn {
  position: absolute;
  top: 10%;
  left: 10%;
  
}
